<div class="col-sm-6 col-sm-offset-3">
    <h3>Login</h3>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form action="/login<%= returnUrl ? '?' + returnUrl : '' %>" method="post">
        <div class="form-group form-group-lg">
            <label>Email</label>
            <input type="email" class="form-control" name="email" autofocus required/>
        </div>
        <div class="form-group form-group-lg">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required/>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Login</button>
        <a class="signup pull-right" href="/signup<%= returnUrl ? '?' + returnUrl : '' %>">Sign up</a>
    </form>
    <p></p>
    <p><label>Or login via:</label></p>
    <a href="/auth/facebook" class="btn btn-primary btn-lg btn-block"><span class="fa fa-facebook"></span> Facebook</a>
    <a href="/auth/google" class="btn btn-danger btn-lg btn-block"><span class="fa fa-google-plus"></span> Google</a>
    <a href="/auth/twitter" class="btn btn-info btn-lg btn-block"><span class="fa fa-twitter"></span> Twitter</a>
</div>