<% layout('../layouts/default') %>
<% block('title', 'Create Room'); %>
<% script('/js/rooms/create.js') %>
<div class="col-sm-6 col-sm-offset-3">
    <h3>Create Room</h3>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <div>
        <form action="/rooms/create" method="post">
            <div class="form-group form-group-lg">
                <label>Room Name</label>
                <input type="text" class="form-control" name="room" autofocus required/>
            </div>
            <div class="form-group form-group-lg">
                <label>Description</label>
                <input type="text" class="form-control" name="description" />
            </div>
            <input id="txtLongitude" type="hidden" name="longitude" />
            <input id="txtLatitude" type="hidden" name="latitude" />
            <a href="/rooms" class="btn btn-default btn-lg pull-left">Back</a>
            <button type="submit" class="btn btn-success btn-lg pull-right">Create</button>
        </form>        
    </div>
</div>