<% layout('../layouts/default') %>
<% block('title', 'Enter Room'); %>
<div class="col-sm-6 col-sm-offset-3">
    <h3>Enter Room</h3>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message || '' %></div>
    <% } %>
    <div>
        <form action="/rooms/<%= roomId || ''  %>/enter" method="post" class="form-group form-group-lg">
            <div class="form-group form-group-lg">
                <label>Passcode</label>
                <input type="text" class="form-control" name="password" maxlength="4" autofocus required/>
            </div>
            <a href="/rooms" class="btn btn-default btn-lg pull-left">Cancel</a>
            <button type="submit" class="btn btn-success btn-lg pull-right">Enter</button>
        </form>
    </div>
</div>