<% layout('../layouts/default') %>
<% block('title', 'Rooms'); %>
<% script('//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js') %>
<% script('//cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.5/dist/loadingoverlay.min.js') %>
<% script('/js/common.js') %>
<% script('/js/rooms/index.js') %>
<h3>Rooms</h3>
<p><a href="/rooms/create" class="btn btn-success btn-lg">Create Room</a></p>
<div class="input-group input-group-lg" style="margin-bottom: 5px">       
    <input type="text" class="form-control" placeholder="Search room ..." autofocus data-bind="textInput: keyword, enterKey: findRoom"/>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-bind="click: clear, visible: showClearButton()"><span class="glyphicon glyphicon-remove"></span></button>
        <button class="btn btn-default" type="button" data-bind="click: findRoom"><span class="glyphicon glyphicon-search"></span></button>
    </span>
</div>
<div id="results" class="list-group" data-bind="foreach: rooms">
    <a class="list-group-item clearfix">
        <span class="pull-left">            
            <span class="room-name" data-bind="text: $data.name"></span>
            <small data-bind="text: 'created by ' + $data.createdBy"></small>
            <p data-bind="text: $data.description"></p>
        </span>
        <button class="btn btn-primary btn-lg pull-right" data-bind="click: function(){ window.location = '/rooms/' + $data.roomId; }"><span class="fa fa-sign-in"></span> Enter</button>
    </a>
</div>