<% layout('../layouts/room') %>
<% block('title', 'Player') %>
<% stylesheet('//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css') %>
<% script('/socket.io/socket.io.js') %>
<% script('//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js') %>
<% script('//cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.5/dist/loadingoverlay.min.js') %>
<% script('//www.youtube.com/iframe_api') %>
<% script('/js/rooms/player.js') %>
<div class="text-center">
    <h3 data-bind="text: title"></h3>
    <div class="embed-responsive embed-responsive-16by9">
        <div id="player"></div>
    </div>
</div>
<script>
var roomId = "<%= roomId %>";
var nowPlaying = "<%= nowPlaying %>";
var nowPlayingTitle = "<%= nowPlayingTitle %>";
</script>