<% layout('../layouts/room') %>
<% block('title', 'Welcome') %>
<% stylesheet('//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css') %>
<% script('/socket.io/socket.io.js') %>
<% script('//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js') %>
<% script('//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js') %>
<% script('//cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.5/dist/loadingoverlay.min.js') %>
<% script('//www.youtube.com/iframe_api') %>
<% script('/js/common.js') %>
<% script('/js/rooms/room.js') %>
<span class="label label-info pull-right" title="Password">Passcode<h4 data-bind="text: password"></h4></span>
<a href="/rooms" class="btn btn-warning"><span class="fa fa-sign-out"></span> Leave</a>
<h3 data-bind="text: roomName"></h3>
<ul class="nav nav-tabs nav-tabs">
    <li class="active"><a data-toggle="tab" href="#nowplaying" title="Now Playing"><span class="fa fa-play"></span> <span class="hidden-xs">Now Playing</span></a></li>
    <li><a data-toggle="tab" href="#search" title="Search Song"><span class="fa fa-search"></span> <span class="hidden-xs">Search Song</span></a></li>
    <li><a data-toggle="tab" href="#reserved" title="Reserved"><span class="fa fa-list"></span> <span class="hidden-xs">Reserved</span> <span class="badge" data-bind="text: reserved().length"></span></a></li>
    <li><a data-toggle="tab" href="#favorites" title="My Favorites"><span class="fa fa-heart"></span> <span class="hidden-xs">My Favorites</span></a></li>
    <li><a data-toggle="tab" href="#guests" title="Guests"><span class="fa fa-user"></span> <span class="hidden-xs">Guests</span> <span class="badge" data-bind="text: guests().length"></a></li>
</ul>
<div class="tab-content ">
    <div id="nowplaying" class="tab-pane fade in active">
        <h4><span class="visible-xs">Now Playing</span></h4>
        <div class="text-center">
            <label data-bind="text: nowPlaying().title"></label> <small data-bind="text: nowPlaying().singer"></small>
            <p><img alt="" class="img-thumbnail" data-bind="attr: { 'src': nowPlaying().thumbnail }" /><p>
            <button class="btn btn-primary btn-lg" data-bind="click: playPause"><span class="fa fa-pause"></span></button>
            <button class="btn btn-primary btn-lg" title="Next" data-bind="click: next"><span class="fa fa-forward"></span></button>
            <button class="btn btn-primary btn-lg" title="Add to Favorites" data-bind="click: addFavorite.bind(this, nowPlaying())"><span class="fa fa-heart"></span></button>
            <button class="btn btn-primary btn-lg" title="Open Player" data-bind="click: openPlayer, visible: isHost"><span class="fa fa-external-link"></span></button>
        </div>
    </div>
    <div id="search" class="tab-pane fade">
        <h4><span class="visible-xs">Search Song</span></h4>
        <div class="input-group input-group-lg" style="margin-bottom: 5px">       
            <input id="txtKeyword" type="text" class="form-control" placeholder="Keyword" autofocus data-bind="textInput: keyword, enterKey: search"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: clear, visible: showClearButton()"><span class="glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-default" type="button" data-bind="click: search"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
        <div id="results" class="list-group" data-bind="foreach: results">
            <a class="list-group-item clearfix">
                <span class="pull-left">
                    <img alt="" class="img-thumbnail video-thumbnail" data-bind="click: $parent.preview.bind(this, $data, true), attr: { 'src': $data.thumbnail }" />
                    <span class="room-name" data-bind="text: $data.title"></span>
                    <small data-bind="text: $data.channel"></small>
                </span>
                <div class="btn-toolbar pull-right">
                    <button type="button" class="btn btn-success btn-lg" data-bind="click: $parent.reserve.bind(this, $data)"><span class="fa fa-plus"></span> <span class="hidden-xs">Reserve</span></button>
                    <button type="button" class="btn btn-primary btn-lg" data-bind="click: $parent.addFavorite.bind(this, $data)"><span class="fa fa-heart"></span> <span class="hidden-xs">Add to Favorites</span></button>
                </div>
            </a>
        </div>
    </div>
    <div id="reserved" class="tab-pane fade">
        <h4><span class="visible-xs">Reserved</span></h4>
        <div id="reservedList" class="list-group" data-bind="foreach: reserved">    
            <a class="list-group-item clearfix">
                <span class="pull-left">
                    <img alt="" class="img-thumbnail video-thumbnail" data-bind="click: $parent.preview.bind(this, $data, false), attr: { 'src': $data.thumbnail }" />
                    <span class="room-name" data-bind="text: $data.title"></span>
                    <small data-bind="text: 'Reserved by ' + $data.singer"></small>
                </span>
                <div class="btn-toolbar pull-right">
                    <button type="button" class="btn btn-primary btn-lg" data-bind="click: $parent.addFavorite.bind(this, $data)"><span class="fa fa-heart"></span> <span class="hidden-xs">Add to Favorites</span></button>
                    <button type="button" class="btn btn-danger btn-lg" data-bind="click: $parent.removeReserved.bind(this, $data.videoId), visible: $parent.isHost"><span class="fa fa-times"></span> <span class="hidden-xs">Delete</span></button>
                </div>
            </a>            
        </div>
    </div>
    <div id="favorites" class="tab-pane fade">
        <h4><span class="visible-xs">My Favorites</span></h4>
        <div id="myFavorites" class="list-group" data-bind="foreach: favorites">
            <a class="list-group-item clearfix">
                <span class="pull-left">
                    <img alt="" class="img-thumbnail video-thumbnail" data-bind="click: $parent.preview.bind(this, $data, true), attr: { 'src': $data.thumbnail }" />
                    <span class="room-name" data-bind="text: $data.title"></span>
                    <small data-bind="text: $data.channel"></small>
                </span>
                <div class="btn-toolbar pull-right">
                    <button type="button" class="btn btn-success btn-lg" data-bind="click: $parent.reserve.bind(this, $data)"><span class="fa fa-plus"></span> <span class="hidden-xs">Reserve</span></button>
                    <button type="button" class="btn btn-danger btn-lg" data-bind="click: $parent.removeFavorite.bind(this, $data.videoId)"><span class="fa fa-times"></span> <span class="hidden-xs">Delete</span></button>
                </div>
            </a>
        </div>
    </div>
    <div id="guests" class="tab-pane fade">
        <h4><span class="visible-xs">Guests</span></h4>
        <div class="list-group" data-bind="foreach: guests">
            <a class="list-group-item clearfix">
                <span class="pull-left">
                    <span class="room-name" data-bind="text: $data"></span>
                </span>                
            </a>
        </div>
    </div>
</div>
<div id="preview" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">            
            <div class="modal-body clearfix">
                <div class="embed-responsive embed-responsive-16by9">
                    <div id="player"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg" data-bind="visible: showPopupReserveBtn, click: reserve.bind(this, previewVideo)"><span class="fa fa-plus"></span> <span class="hidden-xs">Reserve</span></button>
                    <button type="button" class="btn btn-primary btn-lg" data-bind="click: addFavorite.bind(this, previewVideo)"><span class="fa fa-heart"></span> <span class="hidden-xs">Add to Favorites</span></button>
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal"><span class="fa fa-ban"></span> <span class="hidden-xs">Close</span></button>
                </div>
            </div>
        </div>
    </div>
  </div>
<script>
var roomId = "<%= roomId %>";
</script>