<% layout('layouts/default') %>
<% block('title', 'Sign Up'); %>
<div class="col-sm-6 col-sm-offset-3">
    <h3>Sign Up</h3>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form action="/signup<%= returnUrl ? '?' + returnUrl : '' %>" method="post">
        <div class="form-group form-group-lg">
            <label>Name</label>
            <input type="text" class="form-control" name="name" autofocus required/>
        </div>
        <div class="form-group form-group-lg">
            <label>Display Name</label>
            <input type="text" class="form-control" name="displayName" />
        </div>
        <div class="form-group form-group-lg">
            <label>Email</label>
            <input type="email" class="form-control" name="email" required/>
        </div>
        <div class="form-group form-group-lg">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required/>
        </div>
        <div class="form-group form-group-lg">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" required/>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Sign up</button>
    </form>    
    <p>Already have an account? <a class="btn btn-success" href="/login<%= returnUrl ? '?' + returnUrl : '' %>">Login</a></p>    
</div>