body {
    color: #fff;
    background: url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430);
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: #fff;    
}

a:hover {
    color: #5bc0de;
}

a.navbar-brand {
    font-weight: bold;    
}

.navbar {
    margin-bottom: 10px;
}

ul.nav a {
    font-weight: bold;
}

ul.nav a:hover {
    color: #ec3e8d !important; 
}

a.signup {            
    font-size: 18pt;
}

a.signup:hover {
    color: #67cdea;
    text-decoration: none;
}

footer {
    margin-top: 40px;
}

.room-name {
    margin: 0px;
    font-weight: bold;
    font-size: 12pt;
}

.video-thumbnail {
    cursor: pointer;
    width: 130px;
    height: 100px;
}